<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dwitter</title>
</head>
<body>
  <h1>Dwitter</h1>
  <ul>
    <li><a href="/dwitter">All Dwitter</a></li>
    <li><a href="#">My Dwitter</a></li>
    <li><a href="#" onclick="loginToggle()">Login</a>
      <a href="#" onclick="signUpToggle()">/ Signup</a>
    </li>
  </ul>
  <form action="/login" name="loginForm" method="post" style="display: none;">
    <h4>Login Form</h4>
    <input type="text" name="id" id="id" placeholder="id" style="width: 50%; background: rgb(205, 249, 218);">
    <input type="password" name="pass" id="pass" placeholder="password" style="width: 50%; background: rgb(205, 249, 218);">
    <button type="submit">Login</button>
    <button type="reset">Reset</button><br><br>
  </form>

  <form action="/signUp" name="signUpForm" method="post" style="display: none;">
    <h4>Signup Form</h4>
    <input type="text" name="id" id="sid" placeholder="id" style="width: 50%; background: rgb(205, 249, 218);">
    <input type="password" name="pass" id="spass" placeholder="password" style="width: 50%; background: rgb(205, 249, 218);">
    <input type="text" name="name" id="sname" placeholder="name" style="width: 50%; background: rgb(205, 249, 218);">
    <input type="text" name="content" id="scontent" placeholder="content" style="width: 50%; background: rgb(205, 249, 218);">
    <button type="submit">signup</button>
    <button type="reset">Reset</button><br><br>
  </form>


  <form name="contentForm" action="/dwitter" method="post" style="border:2px solid gray">
    <input type="text" name="id" placeholder="id">                    
    <input type="text" name="name" placeholder="name">                    
    <input type="text" name="content"  placeholder="content" style="width:70%;">
    <button type="submit">Post</button>
  </form>

  <% for(let i=0; i<list.length;i++ ){ %> 
  <div style="border:1px solid gray;margin-top:10px;">
    <span style="float:right;cursor:pointer;" onclick="remove('<%= list[i].id %>')">삭제</span>
    <span style="float:right;cursor:pointer;" onclick="updateToggle('<%= list[i].id %>')">편집&nbsp;&nbsp;</span>
    <img style="clear:both;" src="https://lh3.googleusercontent.com/ogw/AKPQZvxTD3_VZUKbr8jRW4O06lcHbznUkvGeVrrzGVl_=s32-c-mo">
    <span>[<%= list[i].name %>]</span>
    <span><a href="/dwitter/<%= list[i].id %>">@<%= list[i].id %></a></span>
    <span><%= list[i].date %></span>
    <div>
      <%= list[i].content %>
    </div>
    <div id="updateForm_<%= list[i].id %>" style="display:none;">
      <input type="text" id="content_<%= list[i].id %>" style="width:80%;background:lightcyan;">
      <button type="button" onclick="update('<%= list[i].id %>')">Update</button>  
    </div>
  </div>
  <% } %>

  
  <script>
      /**
     * loginForm Toggle
     * */
      function loginToggle(pid){
      const display = loginForm.style.display;
      const id = document.querySelector('#id')
      const pass = document.querySelector('#pass')

      if(display === "none"){
        loginForm.style.display = "block";
        id.focus();
      }else{
        loginForm.style.display = "none";
        id.value = "";
        pass.value = "";
      }
    }


    /**
     * Remove
     * */
    function remove(id){
      fetch('/dwitter',
            { 
              method : 'delete',
              headers : {'content-type': 'application/json'},
              body : JSON.stringify({id : id})
            }
            )
      .then((result) => {
          if(result.status === 204){
            alert("삭제 성공!");
            window.location.reload();
          }
      })
      .catch(console.error);

    }

    /**
     * Update
     * */
    function update(id){
      const updateText = document.querySelector("#content_"+id).value;
      fetch('/dwitter',
            { 
              method : 'put',
              headers : {'content-type': 'application/json'},
              body : JSON.stringify({id : id, content : updateText})
            }
            )
      .then((result) => {
          if(result.status === 204){
            // alert("업데이트 성공!");
            window.location.reload();
          }else if(result.status === 400){
            alert("로그인 후 수정이 가능합니다.");
          }
      })
      .catch(console.error);
      
    }

    /**
     * Update Toggle
     * */
    function updateToggle(pid){
      const updateForm = document.querySelector("#updateForm_"+pid);
      const contentText = document.querySelector("#content_"+pid);
      const display = updateForm.style.display;

      if(display === "none"){
        updateForm.style.display = "block";
        contentText.focus();
      }else{
        updateForm.style.display = "none";
        contentText.value = "";
      }
    }

          /**
     * signUpForm Toggle
     * */
      function signUpToggle(){
      const display = signUpForm.style.display;
      const sid = document.querySelector('#sid')
      const spass = document.querySelector('#spass')
      const name = document.querySelector('#name')
      const content = document.querySelector('#content')

      if(display === "none"){
        signUpForm.style.display = "block";
        id.focus();
      }else{
        signUpForm.style.display = "none";
        sid.value = "";
        spass.value = "";
        name.vlue = "";
        content = "";
      }
    }

  </script>
</body>
</html>